-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: reports_dashboard
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `app_config`
--

DROP TABLE IF EXISTS `app_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_config` (
  `config_key` varchar(255) NOT NULL,
  `config_value` text,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`config_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_config`
--

LOCK TABLES `app_config` WRITE;
/*!40000 ALTER TABLE `app_config` DISABLE KEYS */;
INSERT INTO `app_config` VALUES ('header_title','Payroll Team','2026-03-04 18:04:20');
/*!40000 ALTER TABLE `app_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `user_name` varchar(255) DEFAULT NULL,
  `page` varchar(100) DEFAULT NULL,
  `item_key` varchar(255) DEFAULT NULL,
  `field_name` varchar(255) DEFAULT NULL,
  `old_value` text,
  `new_value` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `audit_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=152 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `custom_reports`
--

DROP TABLE IF EXISTS `custom_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `custom_reports` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `jql` text NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `custom_reports`
--

LOCK TABLES `custom_reports` WRITE;
/*!40000 ALTER TABLE `custom_reports` DISABLE KEYS */;
/*!40000 ALTER TABLE `custom_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jira_config`
--

DROP TABLE IF EXISTS `jira_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jira_config` (
  `id` int NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `api_token` text,
  `project_key` varchar(255) DEFAULT NULL,
  `jira_domain` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jira_config`
--

LOCK TABLES `jira_config` WRITE;
/*!40000 ALTER TABLE `jira_config` DISABLE KEYS */;
INSERT INTO `jira_config` VALUES (1,'rohit.bairwa@lumberfi.com','ATATT3xFfGF04DYTyxIMn5SLwMnxX6HjdPpwjLuKjou8eMGQfgh6vGajsr55grz0fvzUrl4PgAiahTDIbBgdxj_tVq9Lm9RZ6VzOaRyNTBQkQMY0MQu8VufGD-laSeXZvWs2DQ96-z9y3MWLVpDQ3JuwO1lQ2xJ7sLRIrdZQRBkXBRWHjoedmE8=E4919B65','TIM','https://lumberfi.atlassian.net');
/*!40000 ALTER TABLE `jira_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `permissions` text,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Admin','{\"all\": true}'),(2,'Editor','{\"allowed_pages\": [\"dashboard\", \"todo\", \"tracker\", \"trackers_v2\"], \"create_tickets\": true, \"delete_tickets\": true, \"edit\": true, \"edit_tickets\": true, \"manage_settings\": true, \"manage_teams\": true, \"view\": true, \"view_reports\": true, \"edit_tracker_data\": true, \"manage_trackers\": true}'),(3,'Viewer','{\"allowed_pages\": [\"dashboard\"], \"view\": true, \"view_reports\": true}');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scrum_notes`
--

DROP TABLE IF EXISTS `scrum_notes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scrum_notes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `team_id` int NOT NULL,
  `member_id` varchar(255) NOT NULL,
  `member_name` varchar(255) NOT NULL,
  `ticket_key` varchar(255) NOT NULL,
  `comment` text,
  `deadline` date DEFAULT NULL,
  `status` varchar(50) DEFAULT 'Pending',
  `tags` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `team_id` (`team_id`),
  CONSTRAINT `scrum_notes_ibfk_1` FOREIGN KEY (`team_id`) REFERENCES `teams` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=150 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scrum_notes`
--

LOCK TABLES `scrum_notes` WRITE;
/*!40000 ALTER TABLE `scrum_notes` DISABLE KEYS */;
/*!40000 ALTER TABLE `scrum_notes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sprint_tickets`
--

DROP TABLE IF EXISTS `sprint_tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sprint_tickets` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sprint_id` int DEFAULT NULL,
  `week_id` int DEFAULT NULL,
  `issue_key` varchar(255) NOT NULL,
  `comment` text,
  `pr_raised` int DEFAULT '0',
  `demo_done` int DEFAULT '0',
  `pr_merged` int DEFAULT '0',
  `deploy_status` varchar(50) DEFAULT 'N/A',
  `qa_assignee` varchar(255) DEFAULT '',
  `qa_status` varchar(50) DEFAULT 'Pending',
  `bugs_found` text,
  `requirements_clear` varchar(50) DEFAULT 'No',
  `completed` int DEFAULT '0',
  `is_flagged` int DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `sprint_id` (`sprint_id`),
  KEY `week_id` (`week_id`)
) ENGINE=InnoDB AUTO_INCREMENT=133 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sprint_tickets`
--

LOCK TABLES `sprint_tickets` WRITE;
/*!40000 ALTER TABLE `sprint_tickets` DISABLE KEYS */;
/*!40000 ALTER TABLE `sprint_tickets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sprint_weeks`
--

DROP TABLE IF EXISTS `sprint_weeks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sprint_weeks` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sprint_id` int DEFAULT NULL,
  `week_number` int NOT NULL,
  `goal` text,
  PRIMARY KEY (`id`),
  KEY `sprint_id` (`sprint_id`),
  CONSTRAINT `sprint_weeks_ibfk_1` FOREIGN KEY (`sprint_id`) REFERENCES `sprints` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sprint_weeks`
--

LOCK TABLES `sprint_weeks` WRITE;
/*!40000 ALTER TABLE `sprint_weeks` DISABLE KEYS */;
INSERT INTO `sprint_weeks` VALUES (2,1,1,''),(3,1,2,''),(4,2,1,''),(5,3,1,''),(6,4,1,'');
/*!40000 ALTER TABLE `sprint_weeks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sprints`
--

DROP TABLE IF EXISTS `sprints`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sprints` (
  `id` int NOT NULL AUTO_INCREMENT,
  `team_id` int DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `state` varchar(50) DEFAULT 'active',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `team_id` (`team_id`),
  CONSTRAINT `sprints_ibfk_1` FOREIGN KEY (`team_id`) REFERENCES `teams` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sprints`
--

LOCK TABLES `sprints` WRITE;
/*!40000 ALTER TABLE `sprints` DISABLE KEYS */;
INSERT INTO `sprints` VALUES (1,1,'0202_26 (27th Feb release date)','active','2026-02-18 12:30:08'),(2,2,'0202_26 (27th Feb release date) - US','active','2026-02-18 13:23:16'),(3,1,'0301_26','active','2026-02-23 09:56:04'),(4,2,'0301_26_US_Payroll','active','2026-02-23 09:57:33');
/*!40000 ALTER TABLE `sprints` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team_members`
--

DROP TABLE IF EXISTS `team_members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `team_members` (
  `id` int NOT NULL AUTO_INCREMENT,
  `team_id` int DEFAULT NULL,
  `account_id` varchar(255) NOT NULL,
  `display_name` varchar(255) NOT NULL,
  `avatar_url` text,
  PRIMARY KEY (`id`),
  KEY `team_id` (`team_id`),
  CONSTRAINT `team_members_ibfk_1` FOREIGN KEY (`team_id`) REFERENCES `teams` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team_members`
--

LOCK TABLES `team_members` WRITE;
/*!40000 ALTER TABLE `team_members` DISABLE KEYS */;
/*!40000 ALTER TABLE `team_members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teams`
--

DROP TABLE IF EXISTS `teams`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teams` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teams`
--

LOCK TABLES `teams` WRITE;
/*!40000 ALTER TABLE `teams` DISABLE KEYS */;
INSERT INTO `teams` VALUES (1,'Reporting Team','2026-02-18 12:29:03'),(2,'US Payroll Team','2026-02-18 13:21:11'),(3,'Quickwin Team','2026-02-20 20:44:15'),(4,'Production Team','2026-02-24 04:37:20');
/*!40000 ALTER TABLE `teams` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `todo_tags`
--

DROP TABLE IF EXISTS `todo_tags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `todo_tags` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `color` varchar(50) DEFAULT 'blue',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `todo_tags`
--

LOCK TABLES `todo_tags` WRITE;
/*!40000 ALTER TABLE `todo_tags` DISABLE KEYS */;
INSERT INTO `todo_tags` VALUES (1,'Follow up','yellow'),(2,'Tracking','purple'),(3,'Critical','red'),(4,'Testing','blue');
/*!40000 ALTER TABLE `todo_tags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `todos`
--

DROP TABLE IF EXISTS `todos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `todos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `title` text NOT NULL,
  `description` text,
  `priority` varchar(50) DEFAULT 'Low',
  `due_date` date NOT NULL,
  `status` varchar(50) DEFAULT 'Pending',
  `tags` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `todos`
--

LOCK TABLES `todos` WRITE;
/*!40000 ALTER TABLE `todos` DISABLE KEYS */;
/*!40000 ALTER TABLE `todos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tracker_columns`
--

DROP TABLE IF EXISTS `tracker_columns`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tracker_columns` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tracker_id` int NOT NULL,
  `name` varchar(255) NOT NULL,
  `column_type` enum('text','checkbox','select','user','rca') NOT NULL,
  `options` text,
  `order_index` int DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `tracker_id` (`tracker_id`),
  CONSTRAINT `tracker_columns_ibfk_1` FOREIGN KEY (`tracker_id`) REFERENCES `trackers_v2` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tracker_columns`
--

LOCK TABLES `tracker_columns` WRITE;
/*!40000 ALTER TABLE `tracker_columns` DISABLE KEYS */;
INSERT INTO `tracker_columns` VALUES (3,2,'Req Clear','select','[\"Yes\", \"No\", \"Hold\"]',0),(4,2,'PR Raised','checkbox','[]',1),(5,2,'PR Merge','checkbox','[]',2),(6,2,'Demo ','checkbox','[]',3),(7,2,'Deployment ','select','[\"QA\", \"STAGE\", \"PROD\"]',4),(8,2,'QA Assignee','user','[]',5),(9,2,'QA Status','select','[\"To Do\", \"In Progress\", \"Done\", \"Blocked\"]',6),(10,2,'RCA','rca','[]',7);
/*!40000 ALTER TABLE `tracker_columns` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tracker_data_v2`
--

DROP TABLE IF EXISTS `tracker_data_v2`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tracker_data_v2` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tracker_id` int NOT NULL,
  `issue_key` varchar(50) NOT NULL,
  `column_id` int NOT NULL,
  `value` text,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_cell` (`tracker_id`,`issue_key`,`column_id`),
  KEY `column_id` (`column_id`),
  CONSTRAINT `tracker_data_v2_ibfk_1` FOREIGN KEY (`tracker_id`) REFERENCES `trackers_v2` (`id`) ON DELETE CASCADE,
  CONSTRAINT `tracker_data_v2_ibfk_2` FOREIGN KEY (`column_id`) REFERENCES `tracker_columns` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tracker_data_v2`
--

LOCK TABLES `tracker_data_v2` WRITE;
/*!40000 ALTER TABLE `tracker_data_v2` DISABLE KEYS */;
INSERT INTO `tracker_data_v2` VALUES (2,2,'TIM-23481',4,'true','2026-03-04 21:19:30'),(3,2,'TIM-23481',3,'Hold','2026-03-04 21:24:32'),(4,2,'TIM-23481',8,'Niharika A','2026-03-04 21:19:48');
/*!40000 ALTER TABLE `tracker_data_v2` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tracker_rca`
--

DROP TABLE IF EXISTS `tracker_rca`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tracker_rca` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tracker_id` int NOT NULL,
  `issue_key` varchar(50) NOT NULL,
  `issue_details` text,
  `rca_text` text,
  `fix_text` text,
  `prevention_text` text,
  `token` varchar(100) DEFAULT NULL,
  `submitted_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_rca` (`tracker_id`,`issue_key`),
  UNIQUE KEY `token` (`token`),
  CONSTRAINT `tracker_rca_ibfk_1` FOREIGN KEY (`tracker_id`) REFERENCES `trackers_v2` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tracker_rca`
--

LOCK TABLES `tracker_rca` WRITE;
/*!40000 ALTER TABLE `tracker_rca` DISABLE KEYS */;
/*!40000 ALTER TABLE `tracker_rca` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tracker_tickets`
--

DROP TABLE IF EXISTS `tracker_tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tracker_tickets` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tracker_id` int DEFAULT NULL,
  `issue_key` varchar(255) NOT NULL,
  `comment` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `tracker_id` (`tracker_id`),
  CONSTRAINT `tracker_tickets_ibfk_1` FOREIGN KEY (`tracker_id`) REFERENCES `trackers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tracker_tickets`
--

LOCK TABLES `tracker_tickets` WRITE;
/*!40000 ALTER TABLE `tracker_tickets` DISABLE KEYS */;
/*!40000 ALTER TABLE `tracker_tickets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trackers`
--

DROP TABLE IF EXISTS `trackers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trackers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` text NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trackers`
--

LOCK TABLES `trackers` WRITE;
/*!40000 ALTER TABLE `trackers` DISABLE KEYS */;
INSERT INTO `trackers` VALUES (1,'Random Tickets to track ','2026-02-02 06:02:26'),(2,'02-02-2026','2026-02-02 06:03:57'),(3,'04-02-2026','2026-02-04 10:48:20'),(6,'0301 Reports team ','2026-02-25 12:52:18'),(7,'Hotfix 27 Feb','2026-02-27 12:41:10'),(8,'HotFix 2 March','2026-03-02 04:25:10'),(9,'Hotfix 5 March','2026-03-05 21:54:27');
/*!40000 ALTER TABLE `trackers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trackers_v2`
--

DROP TABLE IF EXISTS `trackers_v2`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trackers_v2` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `jql` text NOT NULL,
  `created_by` int DEFAULT NULL,
  `is_public` tinyint(1) DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `trackers_v2_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trackers_v2`
--

LOCK TABLES `trackers_v2` WRITE;
/*!40000 ALTER TABLE `trackers_v2` DISABLE KEYS */;
/*!40000 ALTER TABLE `trackers_v2` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `name` varchar(255) DEFAULT NULL,
  `google_id` varchar(255) DEFAULT NULL,
  `password_hash` varchar(255) DEFAULT NULL,
  `role_id` int DEFAULT NULL,
  `api_token` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `google_id` (`google_id`),
  UNIQUE KEY `api_token` (`api_token`),
  KEY `role_id` (`role_id`),
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-06  1:27:13
